# Ignore everything on root by default
/*

!/app
/app/*

####################################################
# Exempt the module's core directory from the ignore
!/app/code
/app/code/*

!/app/code/community
/app/code/community/*

!/app/code/community/Bl

#####################################################
# Exempt the module's initialisation file from ignore
!app/etc
/app/etc/*

!app/etc/modules
app/etc/modules/*

!app/etc/modules/Bl_Twitterfeed.xml

####################################################
# Exempt the module's frontend files from the ignore

!/app/design
/app/design/*

!/app/design/frontend
/app/design/frontend/*

!/app/design/frontend/base
/app/design/frontend/base/*

!/app/design/frontend/base/default
/app/design/frontend/base/default/*

!/app/design/frontend/base/default/layout
/app/design/frontend/base/default/layout/*

!/app/design/frontend/base/default/layout/bl_twitterfeed.xml

!/app/design/frontend/base/default/template
/app/design/frontend/base/default/template/*

!/app/design/frontend/base/default/template/bl_twitterfeed

!/skin
/skin/*

!/skin/frontend
/skin/frontend/*

!/skin/frontend/base
/skin/frontend/base/*

!/skin/frontend/base/default
/skin/frontend/base/default/*

!/skin/frontend/base/default/css
/skin/frontend/base/default/css/*

!/skin/frontend/base/default/css/bl-twitterfeed.css

############################
# Exempt required misc files

!.gitignore
!README.md
